version: "3.8"

services:
  vault-server:
    image: vault:latest
    environment:
      VAULT_ADDR: "http://0.0.0.0:8200"
      VAULT_DEV_ROOT_TOKEN_ID: "vault-plaintext-root-token"
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
  mongo:
    image: mongo
    ports:
      - "37017:27017"